@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Montserrat', sans-serif;
  }
  body {
    background-image: url('/bg.jpg');
    background-color: black;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    max-width: 1536px;
    margin-inline: auto;

    @media (max-width: 450px) {
      & {
        background-image: none;
      }
    }
  }
  button {
    outline: none !important;
  }

  #loader__ {
    animation: loaderstrokedash 1s ease-in-out both infinite;
  }

  @keyframes loaderstrokedash {
    0% {
      stroke-dasharray: 0 226;
    }
    80%,
    100% {
      stroke-dasharray: 659 226;
    }
  }

  .StandaloneSearchBox {
    background: red;
  }
}
