@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Montserrat', sans-serif;
  }
  body {
    background-image: url('/bg.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    // max-width: 1536px;
    // margin-inline: auto;
  }
  button {
    outline: none !important;
  }

  #loader__ {
    animation: loaderstrokedash 1s ease-in-out both infinite;
  }

  @keyframes loaderstrokedash {
    0% {
      stroke-dasharray: 0 226;
    }
    80%,
    100% {
      stroke-dasharray: 659 226;
    }
  }
}

@layer utilities {
  // .bg-blurred {
  //   @apply rounded-[20px] border-[1.5px] border-cold/10 bg-black/70 backdrop-blur-sm;
  // }
}
